* {
    margin: 0;
    padding: 0;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.flex_around {
    display: flex;
    justify-content: space-around;
}

.align_items {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding-right: 25px;
}

header {
    background-color: lightblue;
    height: 100px;
}

#home {
    background-color: aqua;
}