* {
    margin: 0;
    padding: 0;
}

main {
    background-color: beige;
}


hr {
    display: block;
    height: 1px;
    width: 70%;
    border: 0;
    border-top: 5px solid rgb(194, 175, 151);
    margin: 0 auto;
    padding: 15px;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}

.flex_around {
    display: flex;
    justify-content: space-around;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.align_center {
    display: flex;
    align-items: center;
}

.flex_wrap {
    display: flex;
    flex-wrap: wrap;
}

ul li a {
    text-decoration: none;
    color: darkgoldenrod;
    list-style: none;
    margin-right: 25px;
    font-weight: bold;
}

ul li a:hover {
    border-bottom: 2px solid darkgoldenrod;
    padding-bottom: 5px;
}

header {
    background-color: black;
    height: 75px;
}

.logo_header {
    height: 50px;
    margin-left: 25px;
}

#home {
    text-align: center;
}

#home p {
    font-size: 1.7rem;
    padding: 20px;

}

.presention_box {
    padding-bottom: 40px;
}

.profil_picture {
    height: 250px;
    box-shadow:  0 3px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 3rem;
    padding: 20px 20px 0 20px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px 20px 0 20px;
}

.skills_box {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    width: 80%;
    z-index: 1;
    background-color: rgb(194, 190, 139);
    border-radius: 25px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 40px;
}

.skills_box .icon {
    font-size: 50px;
}

.skill_unitary {
    min-width: 20%;
    border-bottom: 2px solid black;
    border-radius: 20px;
    box-shadow:  0 3px 5px rgba(0, 0, 0, 0.3);
    margin: 15px;
    padding: 10px;
    background-color: rgb(196, 193, 155);
}

.skill_unitary:hover {
    transform: scale(1.1);
}

.skills_box h6 {
    color: rgb(245, 245, 238);
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 5px;
    padding-top: 10px;
    border-top: 4px solid black;
    border-radius: 20px;
}

#degree {
    text-align: center;
}

.degrees {
    margin: 20px;
    
}

.degrees h3 {
font-size: 1.7rem;
}

.degrees h5 {
    font-size: 1.2rem;
}

.degrees h6 {
    font-size: 1rem;
}
